@use '../../../assets/styles/variables/device-size' as device;

.wrapper {
  flex: 0 1 100%;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff, 0 1px 0 0 #ffffff, 0 1px 6px 0 #ffffff;
  transition: box-shadow 0.35s ease-in-out;
  border: 2px solid #222831;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    &--img {
      display: flex;
      flex: 1 1 calc(25% - 1rem);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-right: 2px solid #222831;

      .container {
        flex: 1 1 calc(25% - 1rem);

        img {
          width: 100%;
          max-height: 150px;
        }
      }
    }

    &--info {
      display: flex;
      flex: 1 1 calc(75% - 1rem);
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.5rem;

      .name,
      .price,
      .category {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0.5rem 0;
        max-width: 500px;
        height: 20px;

        span {
          font-size: 1rem;
          font-weight: 600;
          color: #222831;
          text-align: start;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .name {
        height: 40px;
      }

      .category {
        span {
          font-size: 0.85rem;
          font-weight: 400;
          opacity: 0.75;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        gap: 1rem;

        &__apart {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: 1;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #222831;
            max-width: 40px;

            svg {
              fill: #ffffff;
            }

            &:not(.disabled):hover {
              cursor: pointer;

              &:first-child {
                svg {
                  fill: #da0037;
                }
              }

              &:last-child {
                svg {
                  fill: #ffd369;
                }
              }
            }

            &.fav {
              display: flex;

              svg {
                fill: #ffd369;
              }
            }

            &.disabled {
              opacity: 0.5;
            }
          }

          .count {
            min-width: 40px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
              color: #222831;
              font-size: 1rem;
              font-weight: 600;
              opacity: 0.75;
            }
          }

          &:last-child {
            button {
              &:active {
                background-color: #2c3440;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: device.$xs) {
  .wrapper {
    &__item {
      &--img {
        flex: 1 1 calc(35% - 1rem);

        .container {
          flex: 1 1 calc(35% - 1rem);
        }
      }

      &--info {
        flex: 1 1 calc(65% - 1rem);
      }
    }
  }
}

@media screen and (max-width: device.$xxs) {
  .wrapper {
    &__item {
      &--img {
        flex: 1 1 calc(40% - 1rem);

        .container {
          flex: 1 1 calc(40% - 1rem);
        }
      }

      &--info {
        flex: 1 1 calc(60% - 1rem);

        .actions {
          flex-direction: column;
          justify-content: space-between;
          align-items: stretch;
          height: 100%;
          gap: 0;

          &__apart {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
