.wrapper {
  background-color: #191919;
  border-bottom: 1px solid #ffffff;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    &--logo {
      flex: 1 1 25%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      a {
        display: block;
        width: 30px;
        height: 30px;

        svg {
          display: block;
          width: 30px;
          height: 30px;
        }
      }
    }

    &--search {
      flex: 1 1 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    &--nav {
      display: flex;
      flex: 1 1 25%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      a {
        min-width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;

        svg {
          fill: #ffffff;
          transition: fill 0.35s ease-in-out;
          width: 24px;
          height: 24px;
        }

        span {
          font-size: 0.85rem;
          color: #ffffff;
          transition: color 0.35s ease-in-out;
        }

        &:hover {
          svg {
            fill: #ffd369;
          }

          span {
            color: #ffd369;
          }
        }
      }
    }
  }
}
