.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffd369;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 600px;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: transparent;

      svg {
        fill: #222831;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;

    span {
      font-size: 1rem;
      font-weight: 600;
      opacity: 0.75;
      color: #222831;
      text-align: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid #222831;
      background-color: #222831;
      border-radius: 0.5rem;
      height: 40px;

      span {
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
        opacity: 0.75;
      }

      &:first-child {
        flex: 1 1 calc(25% - 1rem);
        background-color: #ffffff;

        span {
          color: #222831;
        }

        &:hover {
          background-color: #eeeeee;
        }
      }

      &:last-child {
        flex: 1 1 calc(75% - 1rem);

        &:hover {
          background-color: #2c3440;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
