*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #191919;
  color: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.MuiTouchRipple-root {
  display: none;
}
