.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;

  button {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    svg {
      fill: #ffffff;
      transition: fill 0.35s ease-in-out;
    }

    span {
      font-size: 0.85rem;
      color: #ffffff;
      transition: color 0.35s ease-in-out;
    }

    &.open,
    &:hover {
      background-color: transparent;

      svg {
        fill: #ffd369;
      }

      span {
        color: #ffd369;
      }
    }
  }
}

.popup {
  &:global(.MuiPopover-root) {
    :global(.MuiPaper-root) {
      width: 400px;
      height: 250px;
      border-radius: 0.5rem;
      background-color: #ffd369;
      position: relative;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .container {
        display: block;

        &__title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 1rem 0;
          position: sticky;
          top: 0;
          z-index: 3;
          background-color: #ffd369;
          padding: 0.5rem 1rem;
          -webkit-box-shadow: 0px 5px 20px 0px #222831;
          -moz-box-shadow: 0px 5px 20px 0px #222831;
          box-shadow: 0px 5px 20px 0px #222831;

          span {
            font-size: 1rem;
            font-weight: 600;
            color: #222831;
            opacity: 0.75;
          }

          button {
            color: #222831;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 0.85rem;
            font-weight: 600;
            opacity: 0.75;
            background-color: transparent;
            outline: none;
            border: none;

            svg {
              fill: #222831;
              width: 20px;
              height: 20px;
            }

            &:hover {
              text-decoration: underline;
              cursor: pointer;
              opacity: 1;
            }
          }
        }

        &__content {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-height: 150px;
          padding: 0.5rem 1rem;
          gap: 1.5rem;
          margin: 0 0 0.75rem 0;

          span {
            font-size: 1rem;
            font-weight: 600;
          }

          .not-found {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
              font-size: 1rem;
              font-weight: 600;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
