.wrapper {
  display: block;
  max-width: 1400px;
  width: 100%;
  margin: 5rem auto;
  padding: 0 1rem;

  &__not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 2rem 0;

    span {
      font-size: 2rem;
      font-weight: 600;
      opacity: 0.75;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.25rem;
      font-weight: 600;
      opacity: 0.75;
      color: #ffffff;
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      color: #222831;
      opacity: 0.75;
      background-color: #ffd369;
      border-radius: 0.5rem;
      padding: 1rem;

      span {
        font-size: 1rem;
        font-weight: 600;
        color: #222831;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
